# !/bin/sh
cd "$(dirname "$0")" || exit

######## Configure what needs to be (with j2cli)
echo "--- Configuring data base servers (and clients) for {{PG_VINTAGE}}"
j2 3dCityDBImpExpConfig.j2 DBConfig{{PG_VINTAGE}}.yml \
  -o 3dCityDBImpExpConfig-{{PG_VINTAGE}}.xml
j2   LaunchDataBaseSingleServer.sh.j2 DBConfig{{PG_VINTAGE}}.yml \
  -o LaunchDataBaseServer{{PG_VINTAGE}}.sh
chmod a+x LaunchDataBaseServer{{PG_VINTAGE}}.sh
j2   HaltDataBaseSingleServer.sh.j2 DBConfig{{PG_VINTAGE}}.yml \
  -o HaltDataBaseServer{{PG_VINTAGE}}.sh
chmod a+x HaltDataBaseServer{{PG_VINTAGE}}.sh

# RunTiler.sh configuration files are in yaml format so we just
# need a copy:
cp DBConfig{{PG_VINTAGE}}.yml \
   Docker/CityTiler-DockerContext/CityTilerDBConfig{{PG_VINTAGE}}.yml
