[FORMAT]

# String used as indentation unit. This is usually "    " (4 spaces) or "\t" (1
# tab).
indent-string='  '

# Maximum number of characters on a single line.
max-line-length=80

# Specify to pylint quote to use 
# pylint call should now be done with following command: 
# ```
# pylint --load-plugins pylint_quotes <file/module/packages>
# # Set the linting for string quotes
string-quote=double
triple-quote=double
docstring-quote=double
